.bookingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.tabs {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

.tabButton {
  padding: 1em 2em;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 7px;
}

.tabButton.active {
  background-color: #4CAF50;
  font-weight: bold;
}

.bookingCard {
  display: flex;
  justify-content: space-between;
  padding: 4em;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #d1d0d0;
}

.bookingInfo {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.cancelButton {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.3s;
  margin-left: 2em;
  padding: 1em 2em;
  font-size: 0.9em;
}

.cancelButton:hover {
  background-color: #e1e1e1;
}

.hotelRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
}

.checkInAndOut {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
