.header {
  display: flex;
  align-items: center;
  margin-bottom: 10em;
  justify-content: space-between;
}

.header ul {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.header a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.title {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.title h1 {
  font-size: 2em;
}

.title img { 
  max-width: 5em;
}

.title h1, .title img {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 3em;
  margin-right: 1em;
}

.buttons button {
  padding: 0.75rem 1.5rem;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: #000000;
  font-weight: 550;
  background-color: #4CAF50;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.buttons button:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.buttons button:focus {
  outline: none;
  background-color: #45a049;
  border-color: #45a049;
}
