.pagewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0.5em;
  background: linear-gradient(to bottom right, #f0f0f0, #d9d9d9);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30em;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2e492f;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

.grid {
  display: flex;
  justify-content: center;
  max-width: 100wh;
}

.roomlist {
  position: relative;
  top: -25em;
}

.bookingButton {
  position: relative;
  top: -25em;
}

.bookingFormWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25em;
}
