.wrapper {
  display: flex;
  gap: 2em;
  padding: 0.5em;
  background: linear-gradient(to bottom right, #f0f0f0, #d9d9d9);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30em;
}

.card {
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
  background: rgba(76, 175, 80, 0.8);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card p {
  font-size: 1.5em;
  font-weight: bold; 
  color: black; 
  margin: 0; 
}

/* .test {
  background-color: rgba(24, 121, 24, 0.8);
  color: rgba(76, 175, 80, 0.8);
  linear-gradient(360deg, rgba(76, 175, 80, 0.8), rgba(24, 121, 24, 0.8))
} */